.main-banner{
  width: 100%;
  background-image: linear-gradient(0deg, $background-1 23%, #2e2d2cb4  116%), url("textureee.jpg");
  background-size:cover;
}

.banner-content{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.img-test{
  width: 175px;
  height: 175px;
  cursor: pointer
}

.img-test:hover{
  transition: 0.3s;
  rotate: 90deg;
  cursor: pointer
}

.banner-text{
  height: 70%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .banner-content{
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
  }

  .img-test{
    width: 250px;
    height: 280px;
  }

  .banner-text{
    width: 95%;
  }

  h1{
    line-height: 82px;
  }

  .img-test{
    display: none;
  }

}
